@mixin _font($w, $s, $h, $color) {
    font-weight: $w;
    font-size: $s;
    line-height: $h;
    color: $color;
}

@mixin _marginTitle($margin, $reset) {
    margin: $reset;
    margin-bottom: $margin;
}